* {
    margin: 0;
    padding: 0;
}
p {
    font-family: 'SFultralight';
    font-size: 44px;
    font-weight: bold;
}
header {
    display: flex;
    width: 100%;
    padding-top: 10px;
}
.left {
    margin-left: 5%;
    margin-right: 53%;
}
.right {
    margin-right: 5%;
}
.model {
    min-height: 90vh;
    position: relative;
    overflow: hidden;
}
.model img {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    mix-blend-mode: screen;
    animation: reveal 1s ease forwards,
    swing 2s ease-in-out infinite alternate-reverse;
    opacity: 0;
}
.model video {
    position: absolute;
    left: 10.5%;
    top: 10.5%;
    height: 99%;

    animation: reveal 1s ease 0.5s forwards,
    swing 2s ease-in-out infinite alternate-reverse;
    opacity: 0;
}



@keyframes reveal {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes swing {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(3deg);
    }
}
@font-face {  
    font-family: "SFultralight"; 
    src: url("/fonts/SFultralight.ttf") format("truetype"); 
    } 
